@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --primary-bg-light: rgb(247, 247, 247);
  --primary-bg-color-1: rgb(49, 224, 131);
  --primary-bg-color-2: rgba(25, 205, 227);
  --primary-text-dark: rgb(27, 27, 27);
  --primary-text-bright: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-text-dark);
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14 px;
  text-decoration: none;
  margin: 15px 0;
}

hr {
  color: #333;
}

/* Individual divs */
.header-overlap {
  background-color: rgba(27, 27, 27, 0.6);
  height: 80vh;
  border-top: 8px solid white;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-bottom: 0px solid white;
}

.nova-logo-header img {
  width: 80%;
  margin-left: 15px;
}

hr.nova-logo {
  background: white;
  border: 5px solid white;
  margin-top: 30px;
}

.nova-logo-header {
  max-height: 10vh;
}

.header-wrapper {
  background-image: url(/static/img/wallpaper-1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-text-bright);
  width: 100%;
  height: 80vh;
}

.election-info-wrapper {
  background: white;
  color: var(--primary-text-dark);
  width: 100%;
  margin: 0 0 40px 0;
}

.help .btn-primary {
  background: rgba(27, 27, 27, 0.8);
  border: rgba(27, 27, 27, 0.8);
}

.help .btn-primary:hover {
  background: rgba(27, 27, 27, 0.9);
  border: rgba(27, 27, 27, 0.8);
}

.select-candidate-wrapper {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 100%);
  color: var(--primary-text-bright);
  width: 100%;
}

.submit-vote-wrapper {
  background: white;
  color: var(--primary-text-dark);
  width: 100%;
}

.header {
  padding: 80px 0 100px 0;
}

.candidate-input {
  margin-top: 35px;
}

.submit-vote {
  padding: 0 0 60px 0;
}

.submit-vote svg text,
.modal-title svg text {
  stroke: white;
}

.submit-vote svg circle,
.modal-title svg circle {
  fill: black;
}

.submit-vote button,
.loading-button {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 200%);
  border-radius: 20px;
  color: white;
  border: white 5px solid;
  transition: all 0.4s ease-out;
}

.submit-vote button:hover {
  background: linear-gradient(12deg, rgb(42, 185, 109) 0%, rgb(20, 162, 180) 200%);
  color: white;
  border-color: var(--primary-bg-light);
}

.loading-button:hover {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 200%);
  color: white;
  border-color: var(--primary-bg-light);
}

.spinner-border {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  vertical-align: text-bottom;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
}

.line {
  border-right: var(--primary-text-dark) 2px solid;
  border-bottom: var(--primary-text-dark) 4px solid;
  height: 80vh;
  background: var(--primary-text-dark);
  color: var(--primary-bg-light);
}

.lina {
  border-left: var(--primary-text-dark) 2px solid;
  border-bottom: var(--primary-text-dark) 4px solid;
  height: 80vh;
}

.confirm-vote input {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 200%);
  border-radius: 20px;
  color: white;
  border: white 5px solid;
  transition: all 0.4s ease-out;
}

.confirm-vote input:hover {
  background: linear-gradient(12deg, rgb(42, 185, 109) 0%, rgb(20, 162, 180) 200%);
  color: white;
  border-color: var(--primary-bg-light);
}

.modal-close {
  position: absolute;
  left: 93%;
}

/* FLAGS */
.select-candidate-wrapper #flag {
  width: 100vw;
  height: 0px;
  box-sizing: content-box;
  padding-bottom: 0px;
  position: relative;
  background: transparent;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.select-candidate-wrapper #flag:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 48px solid transparent;
  border-left: 50vw solid white;
  border-right: 50vw solid white;
}

#flag-two {
  width: 100vw;
  height: 0px;
  box-sizing: content-box;
  padding-bottom: 0px;
  position: relative;
  background: transparent;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

#flag-two:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 48px solid white;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

@media (max-width: 420px) {
  .close {
    padding: 0 !important;
    margin: 0 !important;
  }
}
