@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --primary-bg-light: rgb(247, 247, 247);
  --primary-bg-color-1: rgb(49, 224, 131);
  --primary-bg-color-2: rgba(25, 205, 227);
  --primary-text-dark: rgb(27, 27, 27);
  --primary-text-bright: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14 px;
  text-decoration: none;
  margin: 15px 0;
}

hr {
  color: #333;
}

/* Individual Clases */
.header-overlap {
  background-color: rgba(27, 27, 27, 0.6);
  min-height: 80vh;
  border-top: 8px solid white;
  border-left: 8px solid white;
  border-right: 8px solid white;
  border-bottom: 0px solid white;
}

.nova-logo-header img {
  width: 80%;
  margin-left: 15px;
}

hr.nova-logo {
  background: white;
  border: 5px solid white;
  margin-top: 30px;
}

.nova-logo-header {
  max-height: 10vh;
}

.header-wrapper {
  background-image: url(/static/img/wallpaper-vote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: var(--primary-text-bright);
  width: 100%;
  min-height: 80vh;
}

.header-container {
  max-height: 70vh;
}

.header-row {
  height: 100%;
}

.header {
  padding: 10vh 0 10vh 0;
}

.header i,
.header hr {
  color: rgba(49, 224, 131, 1);
}

.block {
  border: 2px solid var(--primary-text-dark);
  padding: 0;
  margin: 0;
}

.number svg text {
  stroke: white;
}

.number svg circle {
  fill: black;
}

.verify-vote-button input,
.voter-credentials button,
.two-factor-authentication {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 200%);
  border-radius: 20px;
  color: white;
  border: white 5px solid;
  transition: all 0.4s ease-out;
}

.verify-vote-button input:hover,
.voter-credentials button:hover {
  background: linear-gradient(12deg, rgb(42, 185, 109) 0%, rgb(20, 162, 180) 200%);
  color: white;
  border-color: var(--primary-bg-light);
}

.survey button {
  background: white;
  border-radius: 20px;
  color: rgba(49, 224, 131, 1);
  border: white 3px solid;
  transition: all 0.4s ease-out;
}

.survey button:hover {
  background: transparent;
  color: white;
  border: white 3px solid;
}

.two-factor-authentication {
  background: white;
  border-radius: 20px;
  color: rgba(49, 224, 131, 1);
  border: white 3px solid;
}

.two-factor-authentication label {
  margin-bottom: 0 !important;
  font-size: 18px;
}

/* Wrapper, backgrounds, svg */
.two-factor,
.survey {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 100%);
  color: var(--primary-text-bright);
  width: 100%;
}

.blockchain {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 100%);
  color: var(--primary-text-bright);
  width: 100%;
}

.blockchain-inner {
  background: transparent;
  color: var(--primary-text-bright);
  width: 100%;
}

.blockchain #flag,
.two-factor #flag {
  width: 100vw;
  height: 0px;
  box-sizing: content-box;
  padding-bottom: 0px;
  position: relative;
  background: transparent;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

.blockchain #flag:after,
.two-factor #flag:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 48px solid transparent;
  border-left: 50vw solid white;
  border-right: 50vw solid white;
}

#flag,
#flag-two {
  width: 100vw;
  height: 0px;
  box-sizing: content-box;
  padding-bottom: 0px;
  position: relative;
  background: transparent;
  color: white;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

#flag:after,
#flag-two:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 48px solid white;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

/* Blockchain Viewer */
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.card {
  background: rgba(27, 27, 27, 0.8);
  flex: 0 0 auto;
  max-width: 20vw;
  margin: 0 10px;
  min-height: 20vh;
}

.card li {
  background: rgba(27, 27, 27, 0.2);
}

.block-info {
  color: white;
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 1300px) {
  .card {
    max-width: 30vw;
  }
}
@media (max-width: 1000px) {
  .card {
    max-width: 40vw;
  }
}
@media (max-width: 850px) {
  .card {
    max-width: 50vw;
  }
}
@media (max-width: 650px) {
  .card {
    max-width: 65vw;
  }
}
@media (max-width: 500px) {
  .card {
    max-width: 80vw;
  }
}
