@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

:root {
  --primary-bg-light: rgb(247, 247, 247);
  --primary-bg-color-1: rgb(49, 224, 131);
  --primary-bg-color-2: rgba(25, 205, 227);
  --primary-text-dark: rgb(27, 27, 27);
  --primary-text-bright: rgb(247, 247, 247);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14 px;
  text-decoration: none;
  margin: 15px 0;
}

hr {
  color: #333;
}

/* Individual Clases */
.block {
  border: 2px solid var(--primary-text-dark);
}

.blockchain svg text,
.verify-vote svg text,
.survey svg text,
.voter-credentials svg text {
  stroke: white;
}

.blockchain svg circle,
.verify-vote svg circle,
.survey svg circle,
.voter-credentials svg circle {
  fill: black;
}

.verify-vote-button input,
.survey button,
.voter-credentials button {
  background: linear-gradient(12deg, rgba(49, 224, 131, 1) 0%, rgba(25, 205, 227, 1) 200%);
  border-radius: 20px;
  color: white;
  border: white 5px solid;
  transition: all 0.4s ease-out;
}

.verify-vote-button input:hover,
.survey button:hover,
.voter-credentials button:hover {
  background: linear-gradient(12deg, rgb(42, 185, 109) 0%, rgb(20, 162, 180) 200%);
  color: white;
  border-color: var(--primary-bg-light);
}
