<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Nova Voting Solution</title>
  </head>
  <body>
    <div class="showcase-bg">
      <div class="container">
        <div class="row justify-content-start align-items-center showcase-row mb-5">
          <div class="col-12 text-center">
            <h1 id="Go">VOTE.</h1>
          </div>
        </div>
        <div class="row justify-content-between text-center">
          <div class="col-5">
            <!-- <h1 id="Admin">ADMIN<br />SECTION</h1> -->
            <figure>
              <div>
                <a href="#">
                  <span
                    ><i class="fas fa-cogs fa-2x mb-3 mt-4"></i><br />
                    ADMIN<br />SECTION</span
                  >
                  <span
                    ><i class="fas fa-cogs fa-2x mb-3 mt-4"></i><br />
                    CREATE<br />DEMOCRACY</span
                  >
                </a>
              </div>
            </figure>
          </div>
          <div class="col-5">
            <!-- <h1 id="User">USER<br />SECTION</h1> -->
            <figure>
              <div>
                <a href="{{ url_for('users') }}">
                  <span
                    ><i class="fas fa-user fa-2x mb-3 mt-4"></i><br />
                    USER<br />SECTION</span
                  >
                  <span
                    ><i class="fas fa-user fa-2x mb-3 mt-4"></i><br />
                    LIVE<br />DEMOCRACY</span
                  >
                </a>
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP SCRIPTS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
