<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <!-- Importing Bootstrap which helps us write styling code much easier and clear and helps organizing the html content in a grid -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <!-- Linking Fontawesome in order to use icons which we can integrate into the html content and customize it in size -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <!-- CSS -->
    <!-- We link our own CSS style sheet in order to manipulate the appearance of our html code -->
    <link rel="stylesheet" href="/static/css/style_users.css" />
    <title>Nova Voting | User Login</title>
  </head>

  <body>
    <div class="showcase-bg">
      <!-- The container header is just displaying the heading -->
      <div class="container header">
        <h1 class="mt-5 text-center">VOTE. User Registration and Login</h1>
      </div>

      <!-- This whole next part is containing the Sign Up / Sign In form which I got as a snippet online and adjusted it to our needs. It contains multiple layers which are moving using some JavaScript code -->
      
      <div class="container" id="container">
        <!-- The first container contains the Sign Up function and by submitting it rerenders the users.html -->
        <div class="form-container sign-up-container">
          <form action="{{ url_for('users') }}" method="POST" id="contact-form-register" name="contact-form-register">
            <h1 class="mb-3">Create Account</h1>
            <!-- This input is used to distinguish between login and register form -->
            <input type="hidden" name="form-type" value="register"/>
            <!-- This is the input form for the registration email -->
            <input type="email" placeholder="Email" name="register-email" required/>
            <!-- This block prints out the flash message if someone uses a mail address which is already registered -->
            {% with messages = get_flashed_messages(category_filter=["register-email"]) %}
              {% if messages %}
                {%- for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor -%}
              {% endif %}
            {% endwith %}
            <!-- These two inputs contain the two passwords -->
            <input type="password" placeholder="Password" name="register-password" required/>
            <input type="password" placeholder="Confirm Password" name="register-password-confirm" required/>
            <!-- This flash message is dispalyed when the two passwords doesn't match -->
            {% with messages = get_flashed_messages(category_filter=["register-password"]) %}
              {% if messages %}
                {%- for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor -%}
              {% endif %}
            {% endwith %}
            <!-- This is the submit button posting the registration input to the flask app -->
            <button class="mt-3 button-color" type="submit" value="Submit">
              Sign Up
            </button>
            <!-- This flash message is being displayed when a user successfully registered -->
            {% with messages = get_flashed_messages(category_filter=["register-success"]) %}
              {% if messages %}
                {%- for message in messages %}
                <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor -%}
              {% endif %}
            {% endwith %}
          </form>
        </div>
        <!-- The second container contains the form for the Sign In -->
        <div class="form-container sign-in-container">
          <form action="{{ url_for('users') }}" method="POST" id="contact-form-login" name="contact-form-login">
            <h1 class="mb-3">Sign in</h1>
            <!-- This input is used to distinguish between login and register form -->
            <input type="hidden" name="form-type" value="login"/>
            <!-- This is the login email input -->
            <input type="email" placeholder="Email" name="login-email" required/>
            <!-- This is the login password input -->
            <input type="password" placeholder="Password" name="login-password" required/>
            <!-- This flash message is being displayed any login failure -->
            {% with messages = get_flashed_messages(category_filter=["login-fail"]) %}
              {% if messages %}
                {%- for message in messages %}
                <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor -%}
              {% endif %}
            {% endwith %}
            <a href="#">Forgot your password?</a>
            <!-- This is the submission button -->
            <button class="button-color" type="submit" value="Submit">Sign In</button>
            <!-- This flash message is being displayed when a user successfully logged in-->
            {% with messages = get_flashed_messages(category_filter=["login-success"]) %}
              {% if messages %}
                {%- for message in messages %}
                <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                  <span>{{ message }}</span>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                {% endfor -%}
              {% endif %}
            {% endwith %}
          </form>
        </div>
        <!-- The folllowing part until the end of the body is containing the overlay parts of the Sign Up / Sign In form which is being moved by using JavaScript making it look a bit more appealing and interesting -->
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <h1>Welcome Back!</h1>
              <p>
                In order to take part in any election you will need to sign in
              </p>
              <button class="ghost button-transparent" id="signIn" onclick="slider()">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
              <h1>Hello, Friend!</h1>
              <p>Enter your personal details and start your democracy journey with us</p>
              <button class="ghost button-transparent" id="signUp" onclick="slider()">Sign Up</button>
            </div>
          </div>
        </div>
      </div>
      <!-- This button is redirecting the user to the home template -->
      <div class="container text-center mt-5">
        <button class="home-button mb-5" onclick="window.location.href = '{{ url_for("home") }}';">Back Home</button>
      </div>
    </div>

    <!-- BOOTSTRAP SCRIPTS -->
    <!-- More necessary scripts in order to use bootstrap on the website -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- We are linking the main JavaScript file here if we want to include some javascript functions -->
    <script type="text/javascript" src= "{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
