<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <!-- Importing Bootstrap which helps us write styling code much easier and clear and helps organizing the html content in a grid -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <!-- Linking Fontawesome in order to use icons which we can integrate into the html content and customize it in size -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <!-- CSS -->
    <!-- We link our own CSS style sheet in order to manipulate the appearance of our html code -->
    <link rel="stylesheet" href="/static/css/style_verify.css" />
    <title>NOVA SBE - Online Voting Verification</title>
  </head>

  <body>
    <div class="blockchain text-center pt-5 pb-5">
      <div class="container">
        <div class="number">
        <svg height="100" width="100">
          <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
          <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
            1
          </text>
        </svg>
      </div>
        <h2>THE BLOCKCHAIN</h2>
        <hr />
        <h6>
          The Blockchain displayed here contains all the votes casted in the Student Representative Election 2019. The
          hashes and previouses hashes of each block are connecting each of them, creating a chain of votes which can
          not be tampered with unnoticeably and ultimately providing a secure and fair election. You can also see the
          addresses of the voters which you can compare to your own but not the ones of the candidates in order to
          provide a fair result until the end of the election. To provide another layer of trust the time of the casted
          vote is also displayed which you can check.
        </h6>
        <div class="blockchain-inner">
          <div class="row justify-content-center" style="margin: auto">
            <div class="col-12">
            <h2 class="mt-5">HERE WILL THE BLOCKCHAIN BE DISPLAYED</h2>
            <hr />
          </div>
          </div>
          <div class="row justify-content-between" style="margin: auto">
            <div class="col-3 block">
              <h4 class="mt-3">Block 1</h4>
              <hr />
              <h6>Hash</h6>
              <h6>Previous Hash</h6>
              <h6>From Address</h6>
              <h6>To Address = ?</h6>
              <h6>Timestamp</h6>
            </div>
            <div class="col-3 block">
              <h4 class="mt-3">Block 2</h4>
              <hr />
              <h6>Hash</h6>
              <h6>Previous Hash</h6>
              <h6>From Address</h6>
              <h6>To Address = ?</h6>
              <h6>Timestamp</h6>
            </div>
            <div class="col-3 block">
              <h4 class="mt-3">Block 3</h4>
              <hr />
              <h6>Hash</h6>
              <h6>Previous Hash</h6>
              <h6>From Address</h6>
              <h6>To Address = ?</h6>
              <h6>Timestamp</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="blockchain-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
          <circle fill="white" cx="10" cy="90" r="115" />
          <circle fill="white" cx="190" cy="90" r="115" />
      </div>
    </div>

    <div class="verify-vote text-center mb-5" id="vote-section">
      <div class="container">
        <div class="number">
        <svg height="100" width="100">
          <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
          <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
            2
          </text>
        </svg>
      </div>
        <h2>VERIFY YOUR VOTE</h2>
        <hr />
        <h6 class="text-center">
          In order to verify your vote already before and also after the end of the election, just paste your User Key
          in the following box and hit the Verify Button.
        </h6>
        <form action="{{ url_for('verify') }}" method="POST" id="verify_form">
          <div class="inline-block mt-3">
            <label class="mr-3" for="private_key">Voter Key: </label
            ><input type="text" name="private_key" id="private_key" required />
          </div>
          <div class="verify-vote-button text-center mt-3">
            <input class="btn btn-lg" type="submit" value="Verify Vote" />
          </div>
        </form>

        <!-- This is the flash messages which is triggered when some user is trying to cast a ballot twice -->
        {% with messages = get_flashed_messages(category_filter=["no_private_key_fail"]) %} {% if messages %} {%- for
        message in messages %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor -%} {% endif %} {% endwith %}
        <!-- This is the flash messages which is triggered when some user is trying to cast a ballot twice -->
        {% with messages = get_flashed_messages(category_filter=["wrong_private_key_fail"]) %} {% if messages %} {%- for
        message in messages %}
        <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert">
          <span>{{ message }}</span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor -%} {% endif %} {% endwith %} {% if casted_vote != null %}
        <div class="row mt-5 justify-content-center inline-block">
          <div class="col-md-6 block vote-block">
            <h4 class="mt-3"><strong>Your Vote</strong></h4>
            <hr />
            <h6 class="mb-1"><strong>Hash</strong></h6>
            <h6 class="mb-3">{{ casted_vote['hash'] }}</h6>
            <h6 class="mb-1"><strong>Previous Hash:</strong></h6>
            <h6 class="mb-3">{{ casted_vote['previous_hash'] }}</h6>
            <h6 class="mb-1"><strong>From Address:</strong></h6>
            <h6 class="mb-1">{{ casted_vote['from_address'] }}</h6>
            <h6 class="light mb-3">(That's yours)</h6>
            <h6 class="mb-1"><strong>To Address:</strong></h6>
            <h6 class="mb-1">{{ casted_vote['to_address'] }}</h6>
            <h6 class="light mb-3">
              Candidate's Name: <strong>{{ casted_vote['candidate'] }}</strong>
            </h6>
            <h6 class="mb-1"><strong>Timestamp:</strong></h6>
            <h6 class="mb-3">{{ casted_vote['timestamp'] }}</h6>
          </div>
        </div>
        {% endif %}
      </div>
    </div>

    <div class="survey text-center mt-5 mb-5">
      <div class="container">
        <div class="number">
        <svg height="100" width="100">
          <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
          <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
            3
          </text>
        </svg>
      </div>
        <h2>WIN 50€!</h2>
        <hr />
        <h6 class="text-center">
          Support our research by filling out the following 90 seconds survey and get into the race of a 50€ voucher for
          whatever you need.
        </h6>
        <div class="mt-3">
          <a href="">
            <button type="button" class="btn btn-lg" data-toggle="" data-target="">
              Survey Time
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- BOOTSTRAP SCRIPTS -->
    <!-- More necessary scripts in order to use bootstrap on the website -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- We are linking the main JavaScript file here if we want to include some javascript functions -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
