<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <!-- Importing Bootstrap which helps us write styling code much easier and clear and helps organizing the html content in a grid -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <!-- Linking Fontawesome in order to use icons which we can integrate into the html content and customize it in size -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <!-- CSS -->
    <!-- We link our own CSS style sheet in order to manipulate the appearance of our html code -->
    <link rel="stylesheet" href="/static/css/style_verification.css" />
    <title>NOVA SBE - Online Voting Verification</title>
  </head>

  <body>
    <!-- <div class="header text-center mt-5 mb-5">
      <div class="container">
        <h1>THANK YOU FOR VOTING!</h1>
        <h4 class="mt-3">
          Welcome to the Verification page. In the following, you are able to verify whether your vote was counted
          correctly. Please follow the steps.
        </h4>
      </div>
    </div> -->

    <div class="header-wrapper text-center">
      <div class="header-overlap">
        <div class="row align-items-center">
          <div class="col-4 col-sm-3 col-lg-2">
            <div class="nova-logo-header">
              <img src="/static/img/nova-logo-2.png" alt="nova-logo-2" />
            </div>
          </div>
          <div class="col-8 col-sm-9 col-lg-10">
            <div class="nova-logo-header">
              <hr class="nova-logo" />
            </div>
          </div>
        </div>
        <div class="container header-container">
          <div class="header text-center">
            <h1 class="mb-3">THANK YOU FOR VOTING!</h1>
            <hr />
            <h4>
              Welcome to the Verification page. In the following, you are able to verify whether your vote was counted
              correctly. Please follow the steps.
            </h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Here is where the seperation between Version A and Version B begins -->

    <!-- THIS IS VERSION A -->
    {% if version == 'A' %}

    <div class="voter-credentials text-center mt-5 mb-5">
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              1
            </text>
          </svg>
        </div>
        <h2>COPY YOUR PASSWORD</h2>
        <hr />
        <h6>
          We generated a password for you, so that you can verify your vote. You can use your voting credentials to
          check your vote in Step 3. To do so, please copy your password below.
        </h6>
        <div class="inline-block mt-3">
          <label class="mr-2" for="copy_privateKey">Password: </label>
          <input type="text" value="{{ user_privateKey }}" id="copy_privateKey" size="25" />
        </div>
        <button type="button" class="btn btn-lg mt-2" onclick="copyFunction('copy_privateKey')">Copy</button>
      </div>
    </div>

    <!-- <div class="survey-banner text-center"></div>
        <div class="container-fluid">
          <h1>HERE WILL BE A MASSIVE BANNER TO PROMOTE OUR SURVEY</h1>
        </div>
      </div> -->

    <div class="two-factor text-center pt-5">
      <div class="flag-two mb-5" id="flag-two"></div>
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              2
            </text>
          </svg>
        </div>
        <h2>TWO FACTOR AUTHENTICATION</h2>
        <hr />
        <h6>
          If you want to enhance the security of your vote, please check the following box to set up two-factor
          authentification in your Gmail Account. It’s just one click.
        </h6>
        <div class="row justify-content-center mt-4">
          <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <div class="two-factor-authentication">
              <input class="ml-2" type="checkbox" name="authenticator" id="authenticator" value="Yes" /><label
                class="btn-lg"
                for="authenticator"
                >Two Factor Authenticator</label
              >
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="blockchain-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
          <circle fill="white" cx="10" cy="90" r="115" />
          <circle fill="white" cx="190" cy="90" r="115" />
      </div> -->
      <div class="flag pt-5 mt-5" id="flag"></div>
    </div>

    <div class="verify-vote text-center mt-5">
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              3
            </text>
          </svg>
        </div>
        <h2>VERIFY YOUR VOTE</h2>
        <hr />
        <h6 class="text-center">
          In order to see the details of your vote, simply paste your Password in the box below and hit the Verify
          Button!
        </h6>
        <form action="{{ url_for('verify', source=voter_id_hash) }}" method="POST" id="verify_form">
          <div class="inline-block mt-3">
            <label class="mr-3" for="private_key">Password: </label
            ><input type="text" name="private_key" id="private_key" required />
          </div>
          <div class="verify-vote-button text-center mt-2">
            <input class="btn btn-lg" type="submit" value="Verify Vote" />
          </div>
        </form>
      </div>
    </div>

    <div class="survey text-center mt-5 pt-5 pb-5">
      <div class="flag mb-5" id="flag"></div>
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              4
            </text>
          </svg>
        </div>
        <h2>HELP US AND WIN A FREE DINNER</h2>
        <hr />
        <h6 class="text-center">
          Please support our research by filling out this survey. It takes less than 3 minutes and gives you the chance
          to win a free dinner at Azure Restaurant on Campus. The winner will be contacted tomorrow. Thank you.
        </h6>
        <div class="mt-2">
          <a href="">
            <button type="button" class="btn btn-lg" data-toggle="" data-target="">
              Survey
            </button>
          </a>
        </div>
      </div>
    </div>

    <!-- THIS IS VERSION B -->
    {% else %}

    <div class="voter-credentials text-center mt-5 mb-5">
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              1
            </text>
          </svg>
        </div>
        <h2>COPY YOUR VOTER KEY</h2>
        <hr />
        <h6>
          Since this voting system is running on a blockchain to ensure a transparent and secure election, you can use
          your voting credentials to check your vote in Step 3. To do so, please copy your Voter Key below.
        </h6>
        <div class="inline-block mt-3">
          <label class="mr-2" for="copy_privateKey">Voter Key: </label>
          <input type="text" value="{{ user_privateKey }}" id="copy_privateKey" size="25" />
        </div>
        <button type="button" class="btn btn-lg mt-2" onclick="copyFunction('copy_privateKey')">Copy</button>
      </div>
    </div>

    <!-- <div class="survey-banner text-center"></div>
      <div class="container-fluid">
        <h1>HERE WILL BE A MASSIVE BANNER TO PROMOTE OUR SURVEY</h1>
      </div>
    </div> -->

    <div class="blockchain text-center pt-5">
      <div class="flag-two mb-5" id="flag-two"></div>
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              2
            </text>
          </svg>
        </div>
        <h2>THE VOTING BLOCKCHAIN</h2>
        <hr />
        <h6>
          The illustration below shows this system’s Blockchain which contains all casted votes in an encrypted and
          anonymous manner. One block means one vote. To encrypt the vote and make it anonymous, each block includes a
          hash, which is a security number randomly calculated from the vote’s timestamp and the previous hash (Hash of
          the previous block). Moreover, you see the encrypted voter address and the chosen candidate.
        </h6>
        <div class="blockchain-inner">
          <!-- <div class="row justify-content-center" style="margin: auto">
            <div class="col-12">
              <h2 class="mt-5">HERE WILL THE BLOCKCHAIN BE DISPLAYED</h2>
              <hr />
            </div>
          </div> -->
          <div class="row text-left mt-5">
            <div class="col-12">
              <div class="scrolling-wrapper-flexbox">
                {% for block in blockchain %}
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">
                      <strong> Vote {{ block['block_number'] }}</strong> {% if block['block_number'] == 1 %}
                      <small class="">(Genesis block)</small>
                      {% endif %}
                    </h5>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <span class="block-info">Hash</span>
                      <br />
                      <div class="text-truncate" style="color:{{ block['color'] }}">
                        <small>{{ block['hash'] }}</small>
                      </div>

                      <br />
                      <span class="block-info">Hash of Previous Block</span>
                      <br />

                      {% if block['block_number'] == 1 %}
                      <div class="text-truncate" style="color:white">
                        <small>{{ block['previous_hash'] }}</small>
                      </div>
                      {% else %}
                      <div class="text-truncate" style="color:{{ block['previous_color'] }}">
                        <small>{{ block['previous_hash'] }}</small>
                      </div>
                      {% endif %}
                    </li>

                    <li class="list-group-item">
                      <span class="block-info">From Address</span><br />
                      <div class="text-truncate">
                        <small>{{ block['from_address'] }}</small>
                      </div>
                    </li>

                    <li class="list-group-item">
                      <span class="block-info">Timestamp</span><br />
                      <div class="text-truncate">
                        <small>{{ block['timestamp'] }}</small>
                      </div>
                    </li>
                  </ul>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- <div class="row justify-content-between" style="margin: auto">
            <div class="col-3 block">
              <h4 class="mt-3">Block 1</h4>
              <hr />
              <h6>Hash</h6>
              <h6>Previous Hash</h6>
              <h6>From Address</h6>
              <h6>To Address = ?</h6>
              <h6>Timestamp</h6>
            </div>
            <div class="col-3 block">
              <h4 class="mt-3">Block 2</h4>
              <hr />
              <h6>Hash</h6>
              <h6>Previous Hash</h6>
              <h6>From Address</h6>
              <h6>To Address = ?</h6>
              <h6>Timestamp</h6>
            </div>
            <div class="col-3 block">
              <h4 class="mt-3">Block 3</h4>
              <hr />
              <h6>Hash</h6>
              <h6>Previous Hash</h6>
              <h6>From Address</h6>
              <h6>To Address = ?</h6>
              <h6>Timestamp</h6>
            </div>
          </div> -->
        </div>
      </div>
      <!-- <div class="blockchain-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
          <circle fill="white" cx="10" cy="90" r="115" />
          <circle fill="white" cx="190" cy="90" r="115" />
      </div> -->
      <div class="flag pt-5 mt-5" id="flag"></div>
    </div>

    <div class="verify-vote text-center mt-5">
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              3
            </text>
          </svg>
        </div>
        <h2>VERIFY YOUR VOTE</h2>
        <hr />
        <h6 class="text-center">
          In order to see the details of your vote, simply paste your Voter Key in the box below and hit the Verify
          Button!
        </h6>
        <form action="{{ url_for('verify', source=voter_id_hash) }}" method="POST" id="verify_form">
          <div class="inline-block mt-3">
            <label class="mr-3" for="private_key">Voter Key: </label
            ><input type="text" name="private_key" id="private_key" required />
          </div>
          <div class="verify-vote-button text-center mt-2">
            <input class="btn btn-lg" type="submit" value="Verify Vote" />
          </div>
        </form>
      </div>
    </div>

    <div class="survey text-center mt-5 pt-5 pb-5">
      <div class="flag mb-5" id="flag"></div>
      <div class="container">
        <div class="number">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">
              4
            </text>
          </svg>
        </div>
        <h2>HELP US AND WIN A FREE DINNER</h2>
        <hr />
        <h6 class="text-center">
          Please support our research by filling out this survey. It takes less than 3 minutes and gives you the chance
          to win a free dinner at Azure Restaurant on Campus. The winner will be contacted tomorrow. Thank you.
        </h6>
        <div class="mt-2">
          <a href="">
            <button type="button" class="btn btn-lg" data-toggle="" data-target="">
              Survey
            </button>
          </a>
        </div>
      </div>
    </div>

    {% endif %}

    <!-- HERE THE DIFFERENT VERSION END AGAIN -->

    <!-- BOOTSTRAP SCRIPTS -->
    <!-- More necessary scripts in order to use bootstrap on the website -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- We are linking the main JavaScript file here if we want to include some javascript functions -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
