<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- BOOTSTRAP -->
    <!-- Importing Bootstrap which helps us write styling code much easier and clear and helps organizing the html content in a grid -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- FONTAWESOME -->
    <!-- Linking Fontawesome in order to use icons which we can integrate into the html content and customize it in size -->
    <script src="https://kit.fontawesome.com/2b498beeb7.js"></script>
    <!-- CSS -->
    <!-- We link our own CSS style sheet in order to manipulate the appearance of our html code -->
    <link rel="stylesheet" href="/static/css/style_voting.css" />
    <title>NOVA SBE - Online Voting</title>
  </head>

  <body onload="confirmFunction()">
    <div class="header-wrapper text-center">
      <div class="header-overlap">
        <div class="row align-items-center">
          <div class="col-4 col-sm-3 col-lg-2">
            <div class="nova-logo-header">
              <img src="/static/img/nova-logo-2.png" alt="nova-logo-2">
            </div>
          </div>
          <div class="col-8 col-sm-9 col-lg-10">
            <div class="nova-logo-header">
              <hr class="nova-logo">
            </div>
          </div>
        </div>
        <div class="container header-container">
          <div class="header text-center">
            <h1 class="mb-3">HI VOTER!</h1>
            <hr>
            <h4>Welcome to NOVA SBE’s new online voting system.</h4>
          </div> 
        </div>
      </div>
    </div>

    <div class="election-info-wrapper text-center mb-5">
      <div class="help text-right" style="margin-right:8px">
        <a href="/static/help_version_a.pdf" class="btn btn-primary"><i class="fas fa-question-circle"></i><span class="d-none d-sm-inline-block ml-2" style="font-size: 16px">Help</span></a>
      </div>
      <div class="container mt-3">
        <div class="election-info text-center">
          <h1 class="mb-3">{{ voter_election['name'] }}</h1>
          <h5>- {{ voter_election['program'] }} -</h4>
          <hr />
          <h6>Please follow the steps to ensure a smooth voting experience.</h6>
        </div>
      </div>
    </div>

    <div class="select-candidate-wrapper pt-5 text-center">
      <div class="flag-two mb-5" id="flag-two"></div>
      <div class="container">
        <div class="select-candidate text-center">
            <svg height="100" width="100">
                <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="black" />
                <text x="50%" y="50%" text-anchor="middle" stroke="white" stroke-width="3px" dy=".35em" font-size="40">1</text>
        </svg>
          <h2>SELECT YOUR CANDIDATE</h2>
          <hr>
          <h6>
              Student Representatives are the voice of the students for the program. They are responsible for collecting feedback from their peers, take part in the Pedagogical Council and are elected for one year.
          </h6>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-8 col-sm-6 col-md-5 col-lg-4">
                <div class="candidate-input text-left">
                  <form action="{{ url_for('process') }}" method="POST" id="vote_form" name="vote_form">
                    {% for candidate in election_candidates %}
                      <div class="inline-block">
                        <input type="radio" name="candidate" id="candidate-{{ candidate['number'] }}" value="{{ candidate['name'] }}" required/><label class="ml-3" for="candidate-{{ candidate['number'] }}"> {{ candidate['name'] }}</label>
                      </div>
                    {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="flag pt-5 mt-5" id="flag"></div>
    </div>

    <div class="submit-vote-wrapper mt-5 text-center">
      <div class="container">
        <div class="submit-vote text-center">
          <svg height="100" width="100">
            <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
            <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">2</text>
          </svg>
          <h2>SUBMIT YOUR VOTE</h2>
          <hr>
          <h6>
              Submit your vote by clicking on the Submit button below. 
          </h6>
          <button type="button" class="btn btn-lg mt-3" data-toggle="modal" data-target=".verify_modal">
            Submit Vote
          </button>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade verify_modal">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-center justify-content-center">
            <div class="modal-title text-center">
              <svg height="100" width="100">
                  <circle cx="50" cy="50" r="30" stroke="" stroke-width="3" fill="white" />
                  <text x="50%" y="50%" text-anchor="middle" stroke="#51c5cf" stroke-width="3px" dy=".35em" font-size="40">3</text>
                </svg>
              <h2>CONFIRM YOUR VOTE</h2>
            </div>
            <div class="modal-close">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          </div>
          <div class="modal-body text-center">
            <h6>Confirm your vote by clicking on the button below. You will be directed to the <strong>verification page</strong> on which you can make sure your vote was counted and <strong>win a free dinner at Azure for you and your friends!</strong></h6>
            <h6 id="confirmation_info"></h6>
            <h6 id="confirmation" style="font-weight: 700"></h6>
            
            <div class="confirm-vote">
              <input class="btn btn-lg mt-3" type="submit" value="Confirm Vote">
          </div>
          </div>
        </div>
      </div>
    </div>

    </form>

    <!-- BOOTSTRAP SCRIPTS -->
    <!-- More necessary scripts in order to use bootstrap on the website -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- We are linking the main JavaScript file here if we want to include some javascript functions -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
